/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --header-height: 3.5rem;

    /* Colors */

    --first-color: hsl(45, 99%, 55%);
    --first-color-alt: hsl(45, 99%, 48%);
    --second-color: hsl(22, 100%, 8%);
    --white-color: hsl(34, 100%, 96%);
    --title-color: hsl(22, 100%, 8%);
    --text-color: hsl(22, 24%, 32%);
    --text-color-light: hsl(23, 16%, 40%);
    --body-color: hsl(34, 100%, 92%);
    --body-color-alt: hsl(34, 100%, 88%);
    --container-color: hsl(34, 100%, 96%);
    --shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, 0.25));
    --shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, 0.25));

    /* Fonts and Typography */
    --body-font: "Montserrat", sans-serif;
    --second-font: "Aclonica", sans-serif;
    --biggest-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsiveness */
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    /* Fixed typo here */
    font-weight: var(--font-regular);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Reusable Classes */
.container {
    max-width: 1150px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section-title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
}

.main {
    overflow: hidden;
}

/* Header & Nav */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    /* Added proper variable */
    z-index: var(--z-fixed);
    /* Added proper variable */
    transition: box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    /* Added proper variable */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    font-family: var(--second-font);
    color: var(--title-color);
}

.nav-logo img {
    width: 25px;
}

.nav-logo div {
    background-color: var(--first-color);
    padding: 6px;
    border-radius: 0.5rem;
}

.nav-menu {
    background-color: var(--body-color);
    /* background color */
    z-index: 20;
}

.nav-close,
.nav-button {
    display: flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Mobile Media Query */
@media screen and (max-width: 1150px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block: 4.5rem 3.5rem;
        box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.25);
        transition: top 0.4s;
    }
}

.nav-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav-link {
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
}

.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--first-color);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 60%;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    top: 0;
}

.shadow-header {
    box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.1);
}

/* Active Link */
.active-link::after {
    width: 60px;
}

/* Hero Section */
.hero-container {
    padding-block: 3rem 2rem;
    justify-content: center;
    row-gap: 3.5rem;
}

.hero-data {
    position: relative;
    text-align: center;
    padding-bottom: 2.5rem;
}

.hero-title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.hero-description {
    margin-bottom: 2.5rem;
}

.hero-sticker {
    width: 40px;
    rotate: 15deg;
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    opacity: 0.7;
}

.hero-images {
    position: relative;
    display: grid;
    justify-items: center;
    justify-self: center;
}

.hero-ingredient {
    width: 60px;
    filter: var(--shadow-small-img);
    position: absolute;
    z-index: 2;
}

.hero-burger,
.hero-dish {
    filter: var(--shadow-big-img);
}

.hero-burger {
    width: 280px;
    z-index: 2;
}

.hero-dish {
    width: 320px;
    max-width: initial;
    position: absolute;
    bottom: -2.5rem;
}

.hero-potato-1 {
    left: -1rem;
    top: 0.75rem;
}

.hero-potato-2 {
    right: -0.75rem;
    bottom: -2rem;
    rotate: 90deg;
}

.hero-tomato-1 {
    width: 40px;
    top: -1rem;
    right: 6rem;
}

.hero-tomato-2 {
    width: 40px;
    left: 5.5rem;
    bottom: -1.5rem;
}

.hero-lettuce-1 {
    top: 2.5rem;
    right: -2rem;
    transform: scaleX(-1);
}

.hero-lettuce-2 {
    left: -2rem;
    bottom: 1rem;
}


.button {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.5rem;
    font-family: var(--second-color);
    border-radius: 4rem;
    transition: box-shadow 0.4s;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(22, 100%, 8%, 0.25);
}

/* Bio */
.bio {
    overflow: hidden;
}

.bio-container {
    grid-template-columns: 0.5fr 1fr;
    /* Adjusted for better balance */
    column-gap: 1rem;
    padding-bottom: 2rem;
}

.bio-image {
    position: relative;
    display: grid;
    place-items: center;
}

.bio-img{
    position: absolute;
    max-width: initial;
    width: 200px;
    left: -6rem;
    filter: var(--shadow-big-img);
}

.bio-data {
    display: grid;
    row-gap: 2rem;
}

.bio-card {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    /* Adjusted for better spacing  */
}

.bio-box {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: var(--first-color);
    border-radius: 3px solid var(--container-color);
    border-radius: 0.75rem;
    display: grid;
    place-items: center;
}

.bio-box img {
    width: 50px;
    filter: var(--shadow-small-img);
}

.bio-title {
    font-size: var(--normal-font-size);
    margin: 0.5rem;
}

.bio-description {
    font-size: var(--small-font-size);
}

.bio-card:nth-child(even) .bio-box {
    order: 1;
}

/* Recipes */
.recipes {
    background-color: var(--body-color-alt);
}

.recipes-container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem 1.5rem;
}

.recipe-card {
    position: relative;
    background-color: var(--first-color);
    padding: 6rem 0.75rem 1rem;
    border-radius: 1rem;
    border: 4px solid var(--container-color);
}

.recipe-image {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    width: 120px;
    margin: 0 auto;
    filter: var(--shadow-small-img);
    transition: transform 0.4s;
}

.recipes-title {
    font-size: var(--normal-font-size);
    margin-bottom: 0.75rem;
}

.recipe-tagline {
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
}

.recipes-button {
    position: initial;
    right: 0.75rem;
    bottom: 1rem;
    outline: none;
    border: none;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 8px;
    margin: 4px 0;
    border-radius: 0.5rem;
    display: inline-flex;
    cursor: pointer;
}

.recipe-card:hover .recipe-image {
    transform: translateY(-0.5rem);
}

/* Contact */
.contact-container {
    position: relative;
    background-color: var(--second-color);
    padding-top: 3.5rem;
    border-radius: 3rem;
    overflow: hidden;
}

.contact-content {
    row-gap: 3rem;
}

.contact-container .section-title,
.contact-title,
.contact-info {
    color: var(--white-color);
}

.contact-data {
    text-align: center;
    row-gap: 2rem;
}

.contact-title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.75rem;
}

.contact-social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.contact-social a,
.footer-social a {
    width: 32px;
    height: 32px;
    background-color: var(--first-color);
    color: var(--second-color);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    transition: tramsform, 0.4s;
}

.contact-social a:hover,
.footer-social a:hover,
.scrollup:hover {
    transform: translateY(-0.25rem);
}

.contact-info {
    font-style: normal;
}

.contact-image {
    justify-self: center;
}

.contact-image {
    width: 280px;
}

.contact-sticker-1,
.contact-sticker-2 {
    position: absolute;
    opacity: 0.5;
}

.contact-sticker-1 {
    width: 40px;
    top: 6.5rem;
    left: 1.5rem;
}

.contact-sticker-2 {
    width: 30px;
    right: 3rem;
    bottom: 12rem;
}

/* FOoter */
.footer {
    padding-block: 3rem 2rem;
}

.footer-container {
    row-gap: 2rem;
}

.footer-logo {
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
    justify-self: center;
}

.footer-content {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
}

.footer-link {
    color: var(--text-color);
}

.footer-social {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.footer-copy {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    margin-top: 3.5rem;
}

/* Custom Scrollbar for WebKit-   based browsers */
::-webkit-scrollbar {
    width: 12px;
    /* Adjust width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: var(--title-color);
    /* Thumb color */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid var(--body-color);
    /* Space around thumb */
}

/* Scrollbar styling */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(22, 24%, 32%);
    /* Track color */
}

/* Scroll-Up Button */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    box-shadow: 0 4px 16px hsla(22, 100%, 8%, 0.2);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: 0.35rem;
    z-index: var(--z-tooltip);
    transition: bottom 0.4s, transform 0.4s;
}

/* Show scroll-up button */
.show-scroll {
    bottom: 1rem;
}

/*+=== Breakpoints ===*/
/* Small Sized Devices */
@media screen and (max-width: 330px) {
    .container {
        margin-inline: 1rem;
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .hero-burger {
        width: 210px;
    }

    .hero-dish {
        width: 250px;
        bottom: -2rem;
    }

    .bio-container {
        column-gap: 5rem;
    }

    .bio-img{
        left: -8rem;
    }

    .recipes-container {
        grid-template-columns: 160px;
        justify-content: center;
    }

    .footer-social {
        grid-column: 1;
    }

    .footer-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* Small Sized Devices */
@media screen and (min-width: 540px) {
    .hero-container{
        grid-template-columns: 360px;
        justify-content: center;
    }

    .bio-img{
        position: initial;
    }

    .bio-container {
        grid-template-columns: 200px 230px;
        justify-content: center;
        column-gap: 3rem;
    }

    .recipes-container {
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
    }

    .contact{
        max-width: 500px;
        margin: 0 auto;
     }
}

/* Medium Sized Devices */
@media screen and (min-width: 768px) {
    .recipes-container{
        grid-template-columns: repeat(3, 160px);
    }

    .footer-social{
        grid-column: initial;
    }

    .footer-content{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .footer-link:nth-child(1){
         justify-self: start;
    }

    .footer-link:nth-child(2){
        order: 2;
        justify-self: end;
   }
}

/* Large Sized Devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .section{
        padding-block: 7rem 2rem;
    }

    .section-title{
        margin-bottom: 4.5rem;
    }

    .nav{
        height: calc(var(--header-height) + 2rem);
    }

    .nav-toggle,
    .nav-close{
        display: none;
    }

    .nav-list{
        flex-direction: row;
        column-gap: 4rem;
    }

     .hero-container{
        grid-template-columns: 430px 605px;
        align-items: center;
        column-gap: 4rem;
        padding-block: 7rem 4rem;
     }

     .hero-data{
        text-align: initial;
     }

     .hero-description{
        margin-bottom: 3.5rem;
        padding-right: 3rem;
     }

     .hero-sticker{
        width: 60px;
        right: 10rem;
        bottom: 1rem;
     }

     .hero-burger{
        width: 490px;
     }
     .hero-dish{
        width: 560px;
        bottom: -4rem;
     }
     .hero-ingredient{
        width: 100px;
     }
     .bio-container{
        grid-template-columns: 350px 300px;
        column-gap: 8rem;
        padding-bottom: 3rem;
     }
     .bio-img{
        width: 350px;
     }
     .bio-card{
        column-gap: 1rem;
     }
     .bio-box{
        width: 100px;
        height: 100px;
        border-radius: 1.25rem;
        border-width: 5px;
     }
     .contact{
        max-width: initial;
     }
     .contact-container{
        border-radius: 4rem;
        padding-block: 4rem 6.5rem;
     }
     .recipes-container{
        grid-template-columns: repeat(3, 250px);
        gap: 6.5rem 4rem;
        padding-block: 3rem;
     }
     .recipe-card{
        padding: 9.5rem 1.25rem 1.5rem;
        border-radius: 2rem;
        border-width: 6px;
     }
     .recipe-image{
         width: 200px;
         top: -3.5rem;
     }
     .recipes-title{
        font-size: var(--h2-font-size);
     }
     .recipe-tagline{
        font-size: var(--h1-font-size);
     }
     .recipes-button{
        font-size: 1.5rem;
        right: 1.25rem;
        bottom: 1.25rem;
     }
     .contact{max-width: initial;
    }
    .contact-container{
        border-radius: 4rem;
        padding-block: 4rem 6.5rem;
    }
    .contact-content{
        grid-template-columns: 420px 435px;
        justify-content: center;
        column-gap: 6.5rem;
    }
    .contact-data{
        grid-template-columns: repeat(2, max-content );
        text-align: initial;
        gap: 4.5rem 2rem;
        order: 1;
    }
    .contact-social{
        justify-content: initial;
    }
    .contact-title{
        margin-bottom: 1rem;
    }
    .contact-img{
        width: 420px;
        position: absolute;
    }
    .contact-image{
        position: relative;
        width: 100%;
    }
}